<!DOCTYPE HTML>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html lang="en" dir="ltr">
	<head>
		<title>Imprimir Lista de Registos de Seguro</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../assets/css/main.css" />
		<script src="https://npmcdn.com/js-alert/dist/jsalert.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

	</head>

        <style>
           td{
               width:10rem;
           }
		   
        </style>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">
 
				<!-- Main -->
					<div id="main">
						<div >

							<!-- Header -->
								<header >
									<a href="index" class="image"><img src="../images/LOGO 2016_pequeno.jpg" alt="" ></a>
									
                                    
									<!--ul class="icons">
										<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
										<li><a href="#" class="icon brands fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>
										<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
										<li><a href="#" class="icon brands fa-medium-m"><span class="label">Medium</span></a></li>
									</-ul-->
								</header>

							<!-- Banner -->
								<section id="banner">
									
									<div class="content">
										<div class="container">
                                            
                                            <form  method="POST">
                                                <table class="table">
                                                    <thead class="thead-dark">
                                                        <tr>
                                                            <th>Marca</th>
                                                            <th>Modelo</th>
                                                            <th>Matricula</th>
                                                            <th>Número Interno</th>
                                                            <th>Data de validade</th>
                                                            <th>Número Apólice</th>
                                                													
                                                            
                                                        </tr>
                                                    </thead>
                                                    <tbody>
														
                                                        <%for(var i=0; i<seguro.length; i++) {%>
                                                            <tr>
                                                                <td><%= seguro[i].nome_marca %></td>
                                                                <td><%= seguro[i].modelo %></td>
                                                                <td><%= seguro[i].matricula %></td>
                                                                <td><%= seguro[i].nr_interno %></td>
                                                                <td><%= seguro[i].data_validade %></td>
                                                                <td><%= seguro[i].apolice %></td>
                                                                
                                                            </tr>
                                                        <%}%>
                                                    </tbody>
                                                </table>
												
                                            </form>
                                        </div>
									</div>
									
									
								</section>

								

							

						</div>
					</div>

				
					

			</div>

		<!-- Scripts -->
			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/browser.min.js"></script>
			<script src="../assets/js/breakpoints.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<script src="../assets/js/main.js"></script>
			
	</body>
</html>